.badge-basic {
  color: #fff;
  white-space: nowrap;
  background-color: #305775 !important;
}

a.badge-basic {
    text-decoration: none;
}

a.badge-basic:hover {
    color: #fff;
    text-decoration: none;
}

.badge-enhanced {
  color: #fff;
  white-space: nowrap;
  background-color: #447099 !important;
}

a.badge-enhanced {
    text-decoration: none;
}

a.badge-enhanced:hover {
    color: #fff;
    text-decoration: none;
}

.badge-advanced {
  color: #fff;
  white-space: nowrap;
  background-color: #213D4F !important;
}

a.badge-advanced {
    text-decoration: none;
}

a.badge-advanced:hover {
    color: #fff;
    text-decoration: none;
}

.badge-alt {
  color: #fff;
  white-space: nowrap;
  background-color: #404041 !important;
}

a.badge-alt {
    text-decoration: none;
}

a.badge-alt:hover {
    color: #fff;
    text-decoration: none;
}

.badge-wb {
  color: #fff;
  white-space: nowrap;
  background-color: #9A4665 !important;
}

a.badge-wb {
    text-decoration: none;
}

a.badge-wb:hover {
    color: #fff;
    text-decoration: none;
}
