.badge-basic,
.badge-basic:hover,
.badge-enhanced,
.badge-enhanced:hover,
.badge-advanced,
.badge-advanced:hover,
.badge-alt,
.badge-alt:hover,
.badge-wb,
.badge-wb:hover {
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
}

.badge-basic {
  background-color: #305775;
}

.badge-enhanced {
  background-color: #447099;
}

.badge-advanced {
  background-color: #213D4F;
}

.badge-alt {
  background-color: #404041;
}

.badge-wb {
  background-color: #9A4665;
}
